.flipbook_box {
      height: auto
}
.homepage {
  background-position: 0 -171px;
}
/* .page_3_2 {
    padding-top: 0%;
    width: 61%;
    clear: both;
    position: relative;
    top: 6.6px;
    left: -10px;
} */
