@import url('reset.css');
@import url('static.css');
@import url('elements.css');
@import url('preloader.css');



html, body {
    font-family: sans-serif;
    background: #005b9d;
    background-size: cover !important;
}
.scroll-body{
	overflow:hidden !important;
}

.outer
{
width:100%;
margin:0 auto;
}

.even.fb5-double{


}
.odd.fb5-double{


}
  /*
body:before{
 content: "";
  background: url('../img/Landing_Image.jpg');
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
   z-index: -1;
 background-size: 100% 100%;
}*/
#fb5{
   font-family:sans-serif;
   font-size:14px;
   position:relative;
  /* overflow:hidden; */
   margin:0 auto;
   display:block;
   width:100%;
   height:300px;
   opacity:0;
}

#fb5.fullScreen,#fb5-ajax[data-template="true"] #fb5{
   margin-bottom:0;
}


#fb5 #fb5-container-book {
	position: absolute;
	z-index: 5;
	display: none;
	width: 1100px;
	height: 715px;
	margin-left:-23.7%;
	/* transform: scale(1.06, 1.06) !important; */
	/* transform: scale(1.2, 1.05) !important; */
    /* transform-origin: 37% -3% !important; */
}


#fb5 #fb5-deeplinking{
  display:none;
}


#fb5 .fb5-bcg-book{
    /* background:#fcfcfc; */
    width:100%;
	height:100%;
}

#test{
   margin:0 auto;
   width:100%;
}

#fb5 #page.mobile {
		width: 550px; height: 358px;
		margin: -210px 0 0 -275px;
	}

#fb5 #page .padding { /*padding: 0 34px;*/ }



#fb5 .cursor-grab {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}


#fb5 .fb5-overlay {
	position: absolute; left: -10000px; top: 0; z-index: 20;

	/*background: url(../img/bg-overlay.png);/*/
	background:rgba(0,0,0,0);

	width: 100%; height: 100%;
	display:none;
}

#fb5 .fb5-overlay.active { left: 0; display:block; }


/* = Back button
-------------------------------------------------------------- */
   #fb5 #fb5-button-back{
	color:#FFFFFF;
	position:absolute;
	left:-5px;
	top:45px;
	background-color:#4f2756;
	border-radius: 4px 4px 4px 4px;
	padding:5px;
	padding-left:15px;
	padding-right:10px;
	font-size:12px;
	font-weight:bold;
	margin-top:-45px;
  }
  #fb5 #fb5-button-back:hover{
	color:#4f2756;
	background-color:#FFFFFF
  }


/* = About
-------------------------------------------------------------- */

	#fb5 #fb5-about {
		position: absolute; z-index: 5;
		width: 45%; display: none;
		/*padding-top: 6%;/*/
	}

	#fb5 #fb5-about h1,
	#fb5 #fb5-about h2,
	#fb5 #fb5-about h3,
	#fb5 #fb5-about h4,
	#fb5 #fb5-about h5,
	#fb5 #fb5-about h6 {
		margin: 0 0 .5em 0;
		padding:0px;
		font-size: 1.375em;
		color: #4f2756;
		-webkit-font-smoothing: antialiased;
		text-transform:none;
	}

	#fb5 #fb5-about h3{
		background: url(../img/arrow-right.png) no-repeat 0 50%;
		padding: 0 0 0 25px;
	}

	#fb5 #fb5-about ul,#fb5-about ol {
		list-style:disc;
		margin: 0;
		padding-left:10px;
		padding-top:0%;
		padding-bottom:2%;
	}

	#fb5 #fb5-about li {
		color: #cfeaee;
		margin-bottom:4px;
	}


	#fb5 #fb5-about p {
		/*font-size: 0.688em;/*/
		color: #cfeaee;
		margin-bottom:4%;
	}

	#fb5 #fb5-about a {
		color:#ffffff;
		text-decoration:underline;
	}

	#fb5 #fb5-about a:hover {
		/*color:#ffffff;/*/
		text-decoration:none;
	}



/* = Book
-------------------------------------------------------------- */

#fb5 #fb5-book {
	position: relative; z-index: 10;
	width: 100%; height:100%;
}
#fb5 img
{
/*
filter: none;
-webkit-filter: blur(0px);
-moz-filter: blur(0px);
-ms-filter: blur(0px);
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
*/

}
#fb5 #fb5-book .turn-page {
	background-color:#FFF;
	background-size: 100% 100%;
}


#fb5 .fb5-double.fb5-first {
	background-position: 0% 0%;
}

#fb5 .fb5-double.fb5-second {
	background-position: -100% 0%;
}







	/* = Nav Arrows
	---------------------------------------- */
		#fb5 li a.fb5-nav-arrow.next,	#fb5 li a.fb5-nav-arrow.prev		{
		background:none !important;
		}



		#fb5 .fb5-nav-arrow {
	/*	position: absolute; top:0; z-index: 15; height:100%;
		background: url(../img/arrows.png);
		width: 16px; */
	}

	#fb5 .fb5-nav-arrow.next			{
	/* background-position:-35px 50%;
	background-repeat:no-repeat;transform:scale(1)!important;display: none;
	background-color:#939598 !important;
	*/
}
	#fb5 .fb5-nav-arrow.next:hover	{
/*		background-position:-35px 50%;background-color:rgba(0,0,0, 0.1);
*/
}

	#fb5 .fb5-nav-arrow.prev			{/*
		background-position: -12px 50%;	background-color:#939598 !important;
	background-repeat:no-repeat; display: none; transform:scale(1)!important; */
	}
	#fb5 .fb5-nav-arrow.prev:hover	{ /*
	background-position: -12px 50%;background-color:rgba(0,0,0, 0.1); 
	*/
	}

	#fb5 .fb5-nav-arrow.next{
		/*transform-origin:0 center;
		-ms-transform-origin:0 center;
		-webkit-transform-origin:0 center;
			right:-16px;
	-webkit-border-radius:0 15px 15px 0;
	-moz-border-radius:0 15px 15px 0;
	-ms-border-radius:0 15px 15px 0;
	-o-border-radius:0 15px 15px 0;
	border-radius:0 15px 15px 0;
	background-color:#bcafaf99; */
    }

	#fb5 .fb5-nav-arrow.prev{
	/*	transform-origin:right center;
		-ms-transform-origin:right center;
		-webkit-transform-origin:right center;
			left:-16px;
	-webkit-border-radius:15px 0 0 15px;
	-moz-border-radius:15px 0 0 15px;
	-ms-border-radius:15px 0 0 15px;
	-o-border-radius:15px 0 0 15px;
	border-radius:15px 0 0 15px;
	cursor:pointer;
	 background-color:#bcafaf99; */
    }

		/*#page.mobile .fb5-nav-arrow.next { right: -24px; }*/



	/* = Cover
	---------------------------------------- */

	#fb5 #fb5-logo-cover {
		position: absolute; right: 10px; bottom: 10px; z-index: 5;
	}

	#fb5 #fb5-cover ul {
		position:absolute;
		top:50%;
		-webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
		-moz-transform: translate(0,-50%);
		-o-transform: translate(0,-50%);
        transform: translate(0,-50%);
		clear: both;
		width: 100%;
		list-style: none;
		padding: 20px 0;
		border-top: 1px solid #e2e2e2;
		border-bottom: 1px solid #e2e2e2;
	}

	#fb5 #fb5-cover ul:after { clear: both; content: ''; display: block; }

	#fb5 #fb5-cover li {
		float: left;
		width: 28.3%;
		margin: 0 2.5%;
		list-style:none;
	}

	#fb5 #fb5-cover li,
	#fb5 #fb5-cover img {
		-moz-user-select: -moz-none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
		box-shadow:none;
	}

	#fb5 #fb5-cover li:last-child {
		margin-right: 0;
	}

	#fb5 #fb5-cover li img {
		float: left;
		width: 100%;
	}

	#fb5 #fb5-cover li a:hover img {
		/*opacity: .8;/*/
	}



	/* = End
	---------------------------------------- */

	#fb5 #end { text-align: center; }

	#fb5 #end p { padding-top: 60%; }



	/* = Meta data
	---------------------------------------- */

	#fb5 #fb5-book .fb5-meta {
		position: absolute; bottom:0px;
	}

	#fb5 .fb5-meta .fb5-num {
			font-size: 11px;
	}


	#fb5 .fb5-meta.fb5-left {
			left:0;
			text-align:left;
	}

	#fb5 .fb5-meta.fb5-left .fb5-num {
		    padding-right: 10px;
	}

	#fb5 .fb5-meta.fb5-right {
			right:0;
			text-align: right;
	}

	#fb5 .fb5-meta.fb5-right .fb5-num {
				padding-left: 10px;
	}




	/*= Video in lightbox
	----------------------------*/

	#v5_lightbox {
		width:100%;
		height:100%;
		z-index:555789;
		position:fixed;
		display:block;
		top:0px;
	}

	#v5_lightbox .bcg{
		width:100%;
		height:100%;
		background-color:#000;
		opacity:.7;
		position:absolute;
		cursor:pointer;
	}


	/* --------------------------*/

	.fb5-cont-page-book{
		position:absolute;
	}

	#fb5 .fb5-page-book {
		position:absolute;
	    -webkit-hyphens:none;
        -moz-hyphens:none;
        -ms-hyphens:none;
        hyphens:none;
		overflow:hidden;
		width:100%!important;
		left:0px!important;
		top:0px!important;
		height:100%!important;
		display: flex;
	}


	#fb5 .fb5-page-book .center {
		/*text-align:center;
		padding-top:65%;/*/
	}

	#fb5 .fb5-page-book img {
		border:none;
		padding:0;
	}

	#fb5 .fb5-page-book p {
/*		-webkit-text-size-adjust:none;
		margin-bottom:20px;
		line-height:1.5;
*/	}

	#fb5 .fb5-page-book a {
/*		text-decoration:underline;

		font-weight:bold;
*/	color:#4f2756;}

	#fb5 .fb5-page-book p a:hover {
		text-decoration:underline;
	}

	#fb5 .fb5-page-book ul,.fb5-page-book ol {
	   /* list-style: disc inside;
		margin-bottom:10px !important;*/
		padding:0;
	}

	#fb5 .fb5-page-book ul li {
	   margin-bottom:2px;
/*	   list-style: disc inside;
*/	}

	#fb5 .fb5-page-book ul li a {
	   color:#77797F;
	   font-weight:normal;
	   text-decoration:none;
	}

	#fb5 .fb5-page-book ul li a:hover {
	   text-decoration:underline;
	}

	#fb5 .fb5-page-book a:hover img {
/*       opacity:0.8;
*/	}



/* = Media queries
-------------------------------------------------------------- */

@media screen and (max-width: 768px) {
      /*
    .fb5-nav-arrow.next{
		transform-origin:0 center;
		-ms-transform-origin:0 center;
		-webkit-transform-origin:0 center;
    }

	 .fb5-nav-arrow.prev{
		transform-origin:right center;
		-ms-transform-origin:right center;
		-webkit-transform-origin:right center;
    }

	.fb5-nav-arrow{
		transform:scale(2);
		ms-transform:scale(2);
		-webkit-transform:scale(2);
	}
	/*/
}




  /* tools bar*/

		#fb5 .fb5-tooltip{
			 background:#4f2756 !important;
			 color:#FFFFFF;
		}
		#fb5 .fb5-tooltip b { border-top: 10px solid #4f2756 }
		#fb5 #fb5-footer .bcg {
		  background-color: #000000;
		  opacity: 0.55;
		}
		#fb5 nav li.fb5-goto #fb5-label-page-number {
    		color: #5F6F7B;
		}
		#fb5 nav li.fb5-goto button {
   		    color: #5F6F7B;
			background: linear-gradient(to bottom, #2B3E4D 0px, #1F303D 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
   		}
		#fb5 nav li.fb5-goto input[type="text"] {
   			 background: none repeat scroll 0 0 #141F28 ;
			 border: 1px solid #1E2F3C;
		}

		/* book /*/

		#fb5 #fb5-book .turn-page {
	       background-color:#FFFFFF;
        }
		#fb5 .fb5-meta .fb5-num {
		    color: #fff;
			background:#5c6369 ;
			border-radius:10px 0 0;
			font-size:11px;
			padding:3px 10px 0;
		}
		#fb5 .fb5-meta .fb5-description {
    		color: #666666;
		}

		/* list thumbs /*/
		#fb5 #fb5-all-pages .fb5-container-pages {
		    background: none repeat scroll 0 0 #000000;
						box-shadow: 0 0 40px rgba(100,200, 211, 0.8);
		}

		/* form /*/
		#fb5 #fb5-contact form {
   			 background: none repeat scroll 0 0 #161616;
			 			 box-shadow: 0 0 60px rgba(100,200,211, 0.7);
		}
		#fb5 #fb5-contact form h3 {
		    color: #FFFFFF;
		}
		#fb5 #fb5-contact button {
			    background: none repeat scroll 0 0 #4f2756;
				color: #FFFFFF;
		}
		#fb5 #fb5-contact form input, #fb5-contact form textarea {
           color: #737373;
		}
		#fb5 #fb5-contact .fb5-close {
		  color: #000000;
          background: none repeat scroll 0 0 #4f2756;
		}

		#fb5 #fb5-contact .fb5-thanks p{
		  color:#444444
		}
		#fb5 #fb5-contact .fb5-thanks h1{
		  color:#FFFFFF
		}

		/* preloader /*/
		#fb5 .fb5-preloader .wBall .wInnerBall{
            background:#ffe13b;
		}

		/*  Other style   /*/
		#fb5 .fb5-overlay {
			background:rgba(0,0,0,0.6);
        }


.flipbook-bg-light {
    background-color: #4f2756;
    color: #fff;
}
.even .fb5-cont-page-book{
	top:0;
	left:0;
	/* background:-webkit-gradient(linear, left top, right top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.2)))!important;
	background-image:-webkit-linear-gradient(left, rgba(0,0,0,0) 96%, rgba(0,0,0,0.2) 100%)!important;
	background-image:-moz-linear-gradient(left, rgba(0,0,0,0) 96%, rgba(0,0,0,0.2) 100%)!important;
	background-image:-ms-linear-gradient(left, rgba(0,0,0,0) 96%, rgba(0,0,0,0.2) 100%)!important;
	background-image:-o-linear-gradient(left, rgba(0,0,0,0) 96%, rgba(0,0,0,0.2) 100%)!important;
	background-image:linear-gradient(left, rgba(0,0,0,0) 96%, rgba(0,0,0,0.2) 100%)!important; */
}

.odd .fb5-cont-page-book{
	top:0;
	left:0;
	/* background:-webkit-gradient(linear, right top, left top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.15)))!important;
	background-image:-webkit-linear-gradient(right, rgba(0,0,0,0) 96%, rgba(0,0,0,0.15) 100%)!important;
	background-image:-moz-linear-gradient(right, rgba(0,0,0,0) 96%, rgba(0,0,0,0.15) 100%)!important;
	background-image:-ms-linear-gradient(right, rgba(0,0,0,0) 96%, rgba(0,0,0,0.15) 100%)!important;
	background-image:-o-linear-gradient(right, rgba(0,0,0,0) 96%, rgba(0,0,0,0.15) 100%)!important;
	background-image:linear-gradient(right, rgba(0,0,0,0) 96%, rgba(0,0,0,0.15) 100%)!important; */
}

.cover-page .fb5-cont-page-book
{
	background:none!important;
	}

.shadow
{
   -webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 10px #ccc!important;
	-moz-box-shadow:0 0 10px #ccc!important;
	-o-box-shadow:0 0 10px #ccc!important;
	-ms-box-shadow:0 0 10px #ccc!important;
	box-shadow:0 0 10px #ccc!important;
}
.full-width-outer{
width:91% !important;
}

/*Index page customization*/

.first-page-contents{
background-image:url('../img/cover-page-bg.png') !important;
height:100% !important;
background-size: 100% 62%;
background-repeat: no-repeat;
}
.first-page-content-s{

}
.outer-cover-logo{
text-align:right;
}
.empliciti-land-page .cover-logo{
width: 280px !important;
    margin-right: 35px;
    margin-bottom: 30px;
}
.empliciti-land-page{
 padding: 35px 0px 0px 120px;
}
.outer-cover-heading p{
margin:0px;
}
.outer-cover-heading{
padding: 20px 40px;
    border-left: 2px solid #F26522 !important;
    border-top: 2px solid #F26522 !important;
    border-bottom: 2px solid #F26522 !important;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-left: 1px;
	margin-top:60px;
	margin-right: -18px;
	margin-bottom:60px;
}
.outer-cover-heading .header-top{
font-weight: normal !important;
font-size:26px;
color:#3D9444;
font-family: 'Gotham-Book', sans-serif;
text-align:left;
line-height:normal;
}
.outer-cover-heading .header-bot{
font-size:48px;
color:#3D9444;
font-family: 'Gotham-Book', sans-serif;
line-height:normal;
text-align:left;
}
.footer-content-cover{
padding-top: 60px;

}
.footer-content-cover span{
color: #fff;
}
.footer-content-cover p{
font-size: 17px;
font-family: FuturaStd-Book_w0;
color:#d8d4d4;
}
.div-p-two span{
text-decoration:underline;
font-family: FuturaStd-Book_w0;
font-size: 18px;
}

.div-p-one span, .div-p-three span{
font-family: FuturaStd-Bold_w1;
font-size: 18px;
}
.outer-cover-center img{

width: 100% !important;

}



.flipbook-bg-light {
    background-color: #4f2756 !important;
    color: #fff !important;
}
